{% extends 'base.html.twig' %}

{% block title %}Hello AnimalesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Pasos</th>
                <th>Nacimiento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animales %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ animal.nombre }}</td>
                <td>{{animal.pasos|number_format(2,',')}}</td>
                <td>{{animal.nacimiento|format_datetime('long', 'short', locale='es')}}</td>
                <td></td>
            </tr>
        {% else %}
        <tr>
            <td colspan="5">No users have been found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
